.wrapper{
    display: flex;
    background-color: aquamarine;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: green;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: blue;
}