/* Reset */
body, picture {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin: 0;
}

:root {
    line-height: 1.5;
    font-family: 'arial';
}

/* Design */
body {
    background-color: #efefef;
}
.container {
    background-color: purple;
    color: white;
    max-width: 960px;
    margin: 100px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.cover {
    background-color: orange;
    width: 60%;
    float: left;
}

.cover-photo {
    width: 100%;
    vertical-align: top;
}

.contents {
    width: 40%;
    float: left;
    text-align: center;
    padding: 0 40px;
}

.contents span,
.contents p {
    opacity: 0.5;
}

.contents h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 720px) {
    .container {
        margin: 0;
        position: relative;
    }

    .container, 
    .cover,
    .contents {
        display: block;
        width: auto;
    }

    .contents {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: inherit;
        max-width: 400px;
        margin: 30px;
        padding: 30px;
        text-align: right;
        border-radius: 10px;
    }
    
}