body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #222;
    color: #999;
}

.menu {
    background-color: #222;
    border-radius: 50px;
    box-shadow: -0.2em -0.2em 10px #555, 0.2em 0.2em 10px #111;
    color: #666;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    display: flex;
    text-align: center;
    line-height: 1;
    padding: 0 0.8em;
    font-family: arial;
    letter-spacing: 0.4em;
    text-indent: 0.2em;
}

.menu-item {
    position: relative;
    cursor: pointer;
}

.menu-item a{
    padding: 0.4em;
    display: block;
}

.menu-item:hover {
    color: whitesmoke;
}

.menu-sub {
    background-color: black;
    white-space: nowrap; /* 띄워쓰기 또는 특수기호 기준으로 줄바꿈뒤는것을 막음 */
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 1.8em);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    padding: 30px;
    border-radius: 10px
}

.menu-sub:before{
    content: " ";
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    height: 20px;
    
}

.menu-sub:after{
    content: " ";
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    right: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    width: 1px;
    
}

.menu-item:hover .menu-sub{
    opacity: 1;
    pointer-events: auto;
}

.menu-sub a{
    font-size: 16px;
    color: #666
}

.menu-sub a:hover{
    color: whitesmoke;
}