body, ul, h2, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #111;
    color: #999;
}

.wrapper {
    display: flex;
    height: 100vh;
    /* 내부 요소가 가로 축의 중앙 정렬 */
    justify-content: center;
    /* 내부 요소가 세로 축의 중앙 정렬 */
    align-items: center;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item {
    flex-basis: 100px;
    flex-shrink: 0;
    margin: 0 10px;
}

/* 가상 클래스 hover */
.team-item:hover {
    flex-basis: 160PX;
    transition: all .4s;
    margin: 0 20px;
}

.team-item img {
    width: 100%;
}



.profile {
    background-color: #222;
    position: relative;
    overflow: hidden;
}

.profile:before{
    content: " ";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 240px;
}

.profile_red {
    color: rgb(255, 93, 93);
}

.profile_beige {
    color: beige
}

.profile_green {
    color: darkseagreen;
}

.profile_pink {
    color: pink;
}

.profile_purple {
    color: violet;
}

.profile-contents{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    
}

.profile-contents h2 {
    font-size: 20px;
}

.profile-contents h2 span {
    display: block;
    font-size: 12px;
}

.profile-contents p {
    color: white;
    font-size: 10px;
    min-width: 150px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 0.4s;
    opacity: 0;
    transition-delay: .3s;
}

.team-item:hover .profile-contents p{
    max-height: 6em;
    opacity: 1;
    margin-top: .2em;
}